*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
li{
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
}
.container{
  width: 1320px;
  margin: auto;
}
::selection{
  background-color: #150d0e;
  color: #e4eed0;
}